.sponsors_section {
  text-align: center;
}

.sponsors_section a {
  width: 100%;
  display: inline-block;
  font-size: 0px;
}

.sponsor_h3 {
  display: inline-block;
}

.hillel {
  background-color: #1C4280;
  padding: 36px 0px;
}

.wannabiz {
  background-color: #143646;
  padding: 44px 0px;
}

.tapgerine {
  background-color: rgb(244, 139, 48);
  padding: 38px 0px;
}

.dlook {
  background-color: #9E4DC3;
  padding: 39px 0px;
}

.orangear {
  background-color: #FD9339;
  padding: 38px 0px;
}

.adtelligent {
  background-color: #E2E2E4;
  padding: 36px 0px;
}

.clickky {
  background-color: #C71C36;
  padding: 30px 59px;
}

.ecolease {
  padding: 22px 55px;
  background-color: #DCF3F9;
}

.ingratek {
  padding: 30px 37px 28px 37px;
  background-color: #EAEAEA;
}

.city-par {
  padding: 46px 37px 40px 37px;
  background-color: #282240;
}

.art-print {
  padding: 37px 33px;
  background-color: #1D4568;
}

.ultimatecard {
  padding: 24px 64px 14px 64px;
  background-color: #000000;
}

.wrapper {
  padding-left: 30px;
  padding-right: 30px;
}

.line {
  display: inline-block;
  width: 100%;
  height: 4px;
  background: rgba(255, 255, 255, 0.3);
  margin-top: 30px;
  margin-bottom: 30px;
}

.we_lawyers h5 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  margin-bottom: 30px;
}
.we_lawyers p {
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
  color: #FFFFFF;
}

.main_sponsors {
  padding-top: 30px;
  text-align: center;
}
.main_sponsors h3 {
  display: inline-block;
  text-transform: uppercase;
  color: black;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

.sponsors_section a:nth-child(n+7) {
  display: none;
}

.section_indents {
  padding-top: 30px;
  padding-bottom: 60px;
}
.section_indents h3 {
  display: block;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  min-width: 255px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  padding-top: 30px;
  padding-bottom: 30px;
}

.section_blocks {
  display: inline-block;
  text-align: start;
}
.section_blocks:last-child() {
  margin-bottom: 0px;
}

.site_link {
  display: inline-block;
  color: #24A3FF;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  text-transform: uppercase;
}
.site_link:hover {
  color: #F0145A;
}

.site_link::after {
  content: "";
  display: inline-block;
  margin-left: 5px;
  height: 11px;
  width: 10px;
  background-image: url("/image/arrow.svg");
  background-repeat: no-repeat;
}

.block_service {
  margin: 0px;
  margin-bottom: 30px;
}
.block_service img {
  display: inline-block;
  background: #FFFFFF;
  padding: 14px;
  border-radius: 24px;
  margin-bottom: 30px;
}
.block_service h5 {
  margin-bottom: 15px;
  color: #24A3FF;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
}
.block_service p {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.block_service:last-child {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  margin: 0px;
  min-width: 375px;
  overflow: auto;
}

.background_color {
  position: relative;
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  border-radius: 0px 0px 12px 12px;
}

.background_color::after {
  position: absolute;
  content: "";
  height: 10px;
  left: 20px;
  right: 20px;
  border-radius: 0px 0px 12px 12px;
  background: #CACADB;
}

.background_color::before {
  position: absolute;
  content: "";
  height: 10px;
  left: 40px;
  right: 40px;
  bottom: -20px;
  border-radius: 0px 0px 12px 12px;
  background: #E7E7F2;
}

.publications_bg-color {
  background-color: #F5F5FA;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.wrapper {
  padding-left: 30px;
  padding-right: 30px;
}

.slider {
  overflow: hidden;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #F5F5FA;
  border-radius: 12px;
}
.slider a {
  margin-bottom: 18px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #24A3FF;
}
.slider .text_main_partner {
  padding: 30px;
}
.slider .management_names p {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #B3B3BA;
  margin-bottom: 6px;
}
.slider .management_names p:nth-child(2) {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #B3B3BA;
  margin-bottom: 0px;
}
.slider .text_slider {
  display: flex;
  margin-bottom: 30px;
}
.slider .text_slider h5 {
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  min-width: 255px;
  text-align: start;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.slider .photo_men {
  content: "";
  display: flex;
  min-width: 315px;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 12px 12px 0px 0px;
  background-image: url("../../image/image.svg");
}

.slider_partner {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.btn-slider {
  width: 16px;
  height: 16px;
  background: #24A3FF;
  opacity: 0.2;
  border-radius: 10px;
  border: none;
  margin-right: 15px;
}
.btn-slider:last-child {
  margin-right: 0px;
}
.btn-slider:nth-child(1) {
  background: #24A3FF;
  opacity: 100;
}

.wrapper {
  padding-left: 60px;
  padding-right: 60px;
}

.main_public_section {
  padding-top: 30px;
  margin-bottom: 30px;
  display: inline-block;
}
.main_public_section a {
  margin-bottom: 10px;
  text-decoration: none;
}
.main_public_section h3 {
  min-width: 315px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  min-width: 255px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.main_public_section h5 {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #24A3FF;
  text-decoration: none;
}

.card {
  display: inline-block;
  background-color: #fff;
  margin-bottom: 30px;
}

.card_millennial {
  background-color: #fff;
}

.photo_public {
  content: "";
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 200px;
  background-image: url("image/Publication-1.jpg");
  border-radius: 8px 8px 0px 0px;
}

.public_2 {
  content: "";
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 200px;
  background-image: url("../../image/Publication-2.jpg");
  border-radius: 8px 8px 0px 0px;
}

.public_millennial {
  content: "";
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 200px;
  background-image: url("../../image/Publication-3.png");
  border-radius: 8px 8px 0px 0px;
}

.public_part {
  padding: 30px;
  border-radius: 8px;
}

.april {
  display: inline-block;
  width: 100%;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #B3B3BA;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.april::after {
  content: "";
  display: inline-block;
  margin-top: 15px;
  width: 100%;
  border-bottom: 4px solid #E6E6F0;
}

.text_april {
  display: inline-block;
  margin-top: 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.wrapper {
  padding-left: 30px;
  padding-right: 30px;
  color: none;
}

.section_footer {
  padding-top: 30px;
  padding-bottom: 30px;
}
.section_footer p {
  text-align: center;
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #B3B3BA;
  margin-bottom: 10px;
}
.section_footer p:last-child {
  margin-bottom: 0px;
}

.sect_map_navigation {
  text-align: center;
  margin-bottom: 21px;
}
.sect_map_navigation h5 {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
}
.sect_map_navigation p {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #323264;
  margin-bottom: 10px;
}

.footer_line {
  display: flex;
  margin-top: 30px;
  width: 100%;
  height: 2px;
  background-color: #E6E6F0;
}

.communication {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.communication p {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #46466E;
}
.communication p:last-child {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #24A3FF;
}
.communication img {
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .wrapper {
    padding-left: 60px;
    padding-right: 60px;
  }
  .s {
    width: auto;
  }
  .sponsors_section a:nth-child(n+7) {
    display: inline-block;
  }
  .section_indents {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .section_blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 60px;
  }
  .section_blocks:last-child {
    padding-bottom: 0px;
  }
  .block_service {
    padding-top: 0px;
    margin-bottom: 0px;
    width: calc(50% - 30px);
  }
  .block_service:nth-last-child(2) {
    margin-bottom: 0px;
  }
  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
  }
  .slider {
    margin-top: 60px;
  }
  .main_public_section h3 {
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    min-width: 444px;
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
  }
  .card {
    width: calc(50% - 15px);
    margin-bottom: 0px;
  }
  .card_millennial {
    width: 100%;
    background-color: #fff;
    margin: 0px;
  }
  .text_april {
    width: 100%;
  }
  .section_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
  }
  .sect_map_navigation {
    display: inline-block;
    margin-bottom: 30px;
  }
  .communication {
    display: flex;
    justify-content: flex-start;
  }
}
@media (min-width: 1024px) {
  .wrapper {
    padding-left: 60px;
    padding-right: 60px;
  }
  .start {
    display: flex;
  }
  .block_service {
    padding-top: 0px;
    width: calc(33.33% - 40px);
  }
  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
  }
  .sponsors_section {
    display: flex;
    flex-wrap: wrap;
  }
  .sponsors_section a {
    width: 25%;
    font-size: 0px;
  }
  .text_main_partner {
    min-width: 504px;
  }
  .slider {
    flex-direction: row;
  }
  .slider .text_slider h5 {
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    min-width: 444px;
  }
  .slider .photo_men {
    height: auto;
    min-width: 400px;
  }
  .cards {
    flex-wrap: nowrap;
  }
  .card {
    width: 33.33%;
  }
  .card_millennial {
    width: 33.33%;
  }
}
@media (min-width: 1440px) {
  .block_service {
    width: calc(33.33% - 40px);
  }
  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
  }
  .slider .photo_men {
    width: 100%;
    height: auto;
    background-size: cover;
    border-radius: 12px 0px 0px 12px;
  }
  .slider .text_main_partner {
    padding: 30px;
  }
}
@media (min-width: 1920px) {
  .wrapper {
    max-width: 1600px;
    padding-right: 0px;
    padding-left: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
  }
  .slider .photo_men {
    max-width: 400px;
    max-height: 298px;
  }
}