* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  margin: 0px;
  min-width: 375px;
  overflow: auto;
  background-color: aqua;
}

.background_color {
  position: relative;
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  border-radius: 0px 0px 12px 12px;
}

.background_color::after {
  position: absolute;
  content: "";
  height: 10px;
  left: 20px;
  right: 20px;
  border-radius: 0px 0px 12px 12px;
  background: #CACADB;
}

.background_color::before {
  position: absolute;
  content: "";
  height: 10px;
  left: 40px;
  right: 40px;
  bottom: -20px;
  border-radius: 0px 0px 12px 12px;
  background: #E7E7F2;
}

.publications_bg-color {
  background-color: #F5F5FA;
}