
.wrapper  {
  padding-left: 30px;
  padding-right: 30px;
}
.slider {
  overflow: hidden;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #F5F5FA;
  border-radius: 12px;
  a {
    margin-bottom: 18px;
    text-decoration:none;
    text-transform:uppercase;
     font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #24A3FF;
  }
.text_main_partner {
  padding: 30px;
}
  .management_names {
    p {
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      color: #B3B3BA;
      margin-bottom: 6px;
    }
    p:nth-child(2) {
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: #B3B3BA;
      margin-bottom: 0px;
    }  
  }

  .text_slider {
    display:flex;
    margin-bottom: 30px;
    h5 {
      @include mainfont();
      text-align: start;
      background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
  }

  .photo_men  { 
    content: "";
    display: flex;
    min-width:315px;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    border-radius: 12px 12px 0px 0px;
    background-image: url("../../image/image.svg");
    }
}

.slider_partner {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.btn-slider {
  width: 16px;
  height: 16px;
  background: #24A3FF;
  opacity: 0.2;
  border-radius: 10px;
  border: none;
  margin-right: 15px;
  &:last-child {
    margin-right: 0px;
  }
    &:nth-child(1) {
    background: #24A3FF;
    opacity:100;
  }
}

