.wrapper {
  width: 0px;
}
.sponsors_section {
  text-align: center;
  padding-top:60px;
}

.sponsors_section a {
  width: 100%;
  display: inline-block;
  font-size: 0px;
}

.hillel {
  background-color: #1C4280;
  padding: 36px 0px;
}
.wannabiz {
  background-color: #143646;
  padding: 44px 0px;
}

.tapgerine {
  background-color:rgba(244, 139, 48, 1);
  padding: 38px 0px;
}

.dlook {
  background-color:#9E4DC3;
  padding:39px 0px;
}

.orangear {
  background-color:#FD9339;
  padding: 38px 0px;
}

.adtelligent {
  background-color:#E2E2E4;
  padding: 36px 0px;
}

