
.sponsors_section {
  text-align: center;
}

.sponsors_section a {
  width: 100%;
  display: inline-block;
  font-size: 0px;
}

.sponsor_h3 {
  display: inline-block;
}

.hillel {
  background-color: #1C4280;
  padding: 36px 0px;
}
.wannabiz {
  background-color: #143646;
  padding: 44px 0px;
}

.tapgerine {
  background-color:rgba(244, 139, 48, 1);
  padding: 38px 0px;
}

.dlook {
  background-color:#9E4DC3;
  padding:39px 0px;
}

.orangear {
  background-color:#FD9339;
  padding: 38px 0px;
}

.adtelligent {
  background-color:#E2E2E4;
  padding: 36px 0px;
}

.clickky {
  background-color:#C71C36;
  padding: 30px 59px;
}

.ecolease {
  padding:22px 55px ;
  background-color: #DCF3F9;
}

.ingratek {
  padding: 30px 37px 28px 37px;
  background-color: #EAEAEA;
}

.city-par {
  padding: 46px 37px 40px 37px;
  background-color:#282240;
}

.art-print {
  padding: 37px 33px;
  background-color: #1D4568;
}

.ultimatecard  {
  padding: 24px 64px 14px 64px;
  background-color: #000000;
}