@media(min-width:1920px) {
  .wrapper {
    max-width: 1600px;
    padding-right: 0px;
    padding-left: 0px;
    margin-left: auto;
    margin-right: auto;
  }

p {
  color: $baseColor;
  @include textfont();

}
}