@media (min-width:1440px) {
  .block_service {
    width: calc(33.33% - 40px);
}
p {
  @include textfont();
}



.slider .photo_men {
  width: 100%;
  height: auto;
  background-size: cover;
  border-radius: 12px 0px 0px 12px;
}

.slider .text_main_partner {
  padding: 30px;
}
}