  @media (min-width:768px) {
  .wrapper {
    padding-left: 60px;
    padding-right: 60px;
  }

  .sponsors_section a:nth-child(n+7) {
    display:inline-block;
  }

  .section_indents {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .section_blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 60px;
  }
  .section_blocks:last-child {
    padding-bottom: 0px;
  }

  .block_service {
    padding-top: 0px;
    margin-bottom: 0px;
    width: calc(50% - 30px);
    &:nth-last-child(2) {
      margin-bottom: 0px
    }
  }
  p {
    color: $baseColor;
    @include textfont();
  }

  .slider {
    margin-top: 60px;
  }
}
