@media (min-width:1024px) {
  .wrapper {
    padding-left: 60px;
    padding-right: 60px;
  }



.start {
  display: flex;
}
  .block_service {
    padding-top: 0px;
    width: calc(33.33% - 40px);
}

p {
  @include textfont();
}
.sponsors_section {
  display: flex;
  flex-wrap: wrap;
}

.sponsors_section a {
  width: 25%;
  font-size: 0px;
}
.text_main_partner  {
  min-width: 504px;
}

.slider {
  flex-direction: row;
  .text_slider  {
    h5{
      @include mainfontablet();
    }
  }
}

.slider .photo_men  {
  height: auto;
  min-width: 400px;
  }

  .cards {
    flex-wrap: nowrap;

  }
  .card {
  width: calc(33.33%);
}

.card_millennial {
  width: calc(33.33%);
}

}
