@media (min-width:1024px) {
  .wrapper {
    width: 904px;
  }

  .block_service {
    padding-top: 0px;
    width: 261px;

}

h3 {
  width: 904px;
}
p {
  color: $baseColor;
  @include textfont();
  width: 262px;
}
.sponsors_section {
  display: flex;  
  flex-wrap: wrap;
  padding-top:60px;
}

.sponsors_section a {
  width: 33.3%;
  font-size: 0px;
}

}